# Google pay like app.
    - I person can transfer money to other person
    - system captures user data and maintains a transaction structure

    # user data
        - phoneNum: user's phone number
        - availableAmount: current balance in the user's wallet

    # Transaction structure
        - from: the sender's phone number
        - to: the recipient's phone number
        - amount: the amount to be transferred

    # Functionalities:
        - Log in
            - Implement a log-in system where a user can log in with their phone number
            - If it's the first login, allow the user to add an initial amount to their wallet

        - Transfer amount
            - Allow the user to enter the amount to transfer and the recipient's phone number.
            - Ensure that the sender has sufficient balance.
            - Deduct the transferred amount from the sender and credit it to the recipient.

        - Cashback handling
            - Implement a cashback based on following conditions
                - No cashback if the amount is a multiple of 500 (e.g, 1000, 1500, 2000)
                - If the amount is a multiple of 500, randomly give a coupon or notify the user of
                better luck next time.
                - 5% cashback if the transaction amount is under 1000.
                - 2% cashback if the transaction amount is above 1000.

        - Display information
            - Show cashback details after the transaction.
            - Optionally, display the available amount of the current user.
            - Display the transaction list of the user.